rvl_alias "clk" "clk";
RVL_ALIAS "clk" "clk"; 
RVL_ALIAS "clk" "clk"; 
RVL_ALIAS "clk" "clk"; 
RVL_ALIAS "clk" "clk"; 
RVL_ALIAS "clk" "clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLK_NT_P" SITE "L20" ;
//LOCATE COMP "CLK_NT_N"		SITE "M20" ;

IOBUF PORT "CLK_NT_P" IO_TYPE=LVDS ;
LOCATE COMP "RCVEN" SITE "A18" ;
LOCATE COMP "IF1_SIGN" SITE "U17" ;
LOCATE COMP "IF1_MAGN" SITE "U18" ;
LOCATE COMP "IF2_SIGN" SITE "P16" ;
LOCATE COMP "IF2_MAGN" SITE "N17" ;
LOCATE COMP "IF3_SIGN" SITE "G18" ;
LOCATE COMP "IF3_MAGN" SITE "F17" ;
LOCATE COMP "IF4_SIGN" SITE "D19" ;
LOCATE COMP "IF4_MAGN" SITE "C20" ;
LOCATE COMP "SD_FPGA1" SITE "C18" ;
LOCATE COMP "SD_FPGA2" SITE "D18" ;
LOCATE COMP "PPS" SITE "U16" ;
LOCATE COMP "GPIO23" SITE "K2" ;
LOCATE COMP "GPIO26" SITE "H1" ;
LOCATE COMP "A[0]" SITE "L4" ;
LOCATE COMP "A[1]" SITE "N3" ;
LOCATE COMP "GPIO27" SITE "M4" ;
LOCATE COMP "GPIO25" SITE "N4" ;
LOCATE COMP "INT_CTL" SITE "P3" ;
LOCATE COMP "PKTENDn" SITE "A5" ;
LOCATE COMP "FLAGA" SITE "B4" ;
LOCATE COMP "FLAGB" SITE "C4" ;
LOCATE COMP "DQ[0]" SITE "A2" ;
LOCATE COMP "DQ[10]" SITE "C2" ;
LOCATE COMP "DQ[11]" SITE "E1" ;
LOCATE COMP "DQ[12]" SITE "D2" ;
LOCATE COMP "DQ[13]" SITE "E3" ;
LOCATE COMP "DQ[14]" SITE "F4" ;
LOCATE COMP "DQ[15]" SITE "G5" ;
LOCATE COMP "DQ[1]" SITE "A3" ;
LOCATE COMP "DQ[2]" SITE "A4" ;
LOCATE COMP "DQ[3]" SITE "B2" ;
LOCATE COMP "DQ[4]" SITE "E4" ;
LOCATE COMP "DQ[5]" SITE "H5" ;
LOCATE COMP "DQ[6]" SITE "B1" ;
LOCATE COMP "DQ[7]" SITE "B3" ;
LOCATE COMP "DQ[8]" SITE "C1" ;
LOCATE COMP "DQ[9]" SITE "D1" ;
LOCATE COMP "SLCSn" SITE "E5" ;
LOCATE COMP "SLOEn" SITE "F5" ;
LOCATE COMP "SLRDn" SITE "H4" ;
LOCATE COMP "SLWRn" SITE "H3" ;
LOCATE COMP "PCLK" SITE "G3" ;
BLOCK JTAGPATHS ;
DEFINE PORT GROUP "data_in_group" "IF1_MAGN" 
"IF1_SIGN" 
"IF2_MAGN" 
"IF2_SIGN" 
"IF3_MAGN" 
"IF3_SIGN" 
"IF4_MAGN" 
"IF4_SIGN" ;
USE PRIMARY NET "clk" ;
INPUT_SETUP GROUP "data_in_group"5.000000 ns HOLD 2.500000 ns CLKNET "clk" ;
FREQUENCY PORT "PCLK" 100.000000 MHz ;
FREQUENCY PORT "CLK_NT_P" 53.000000 MHz ;
